<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex">
  <meta content="IE=edge" http-equiv="px-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>シャッフルランチアプリ</title>
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="assets/stylesheets/application.min.css" />
</head>

<body>
  <div class="login">
    <h1 class="h1 text-orange has-text-centered has-text-weight-bold">シャッフルランチアプリ</h1>
    <img src="assets/images/icon.svg">
    <button class="button is-primary is-large is-rounded">
      <span>Googleアカウントでログイン</span>
    </button>
  </div>
</body>

</html>
