.column
  .main
    .container
      h1.is-size-3.has-text-primary.has-text-weight-bold
        | お店一覧
      .columns.is-mobile
        .column.is-8
          .field
            .control
              .select
                select
                  option
                    | カテゴリを選ぶ
                  option
                    | With options
        .column
          button.button.is-success.is-outlined.is-fullwidth
            | 絞り込み
      .columns.is-multiline
        .column.is-4
          a[href=""]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
        .column.is-4
          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
        .column.is-4
          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
        .column.is-4
          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
        .column.is-4
          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
        .column.is-4
          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
        .column.is-4
          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
        .column.is-4
          .card
            .card-image
              .image.is-4by3
                = image_tag 'sample.jpg'
            .card-content
              .content
                p
                  | ゆるり屋
    | 
