<div class="column is-one-fifth bg-yellow">
  <aside class="menu">
    <a href="/">
      <%= image_tag 'icon.svg' %>
    </a>
    <ul class="menu-list">
      <li><a href="/">ホーム</a></li>
      <li><a href="/shops">一覧でお店を探す</a></li>
      <li><a href="/reports/new">ランチを記録する</a></li>
      <li><a href="/reports">ランチの記録をみる</a></li>
    </ul>
  </aside>
</div>
