.column
  .main
    .container
      h1.is-size-3.has-text-primary.has-text-centered.has-text-weight-bold
        | ランチアプリ
      p.has-text-centered
        | このアプリではお店をしらべたりレポートの投稿ができます
      .columns.column
        - if logged_in?
          .column
            a.button.is-link.is-fullwidth[href="/reports/new"]
              | ランチを記録する
        .column
          a.button.is-link.is-fullwidth[href="/reports"]
            | 一覧でお店を探す
      .tile.is-ancestor
        .tile.is-vertical.is-12
          .tile
            .tile.is-parent.is-vertical
              - @reports.shuffle.first(3).each do |report|
                article.tile.is-child
                  .panda
                    = image_tag report.report_image.url
            .tile.is-parent.is-vertical
              - @reports.shuffle.first(2).each do |report|
                article.tile.is-child
                  .panda
                    = image_tag report.report_image.url
            .tile.is-parent.is-vertical
              - @reports.shuffle.first(3).each do |report|
                article.tile.is-child
                  .panda
                    = image_tag report.report_image.url
          .tile
            .tile.is-parent.is-vertical
              - @reports.shuffle.first(2).each do |report|
                article.tile.is-child
                  .panda
                    = image_tag report.report_image.url
            .tile.is-parent.is-vertical
              - @reports.shuffle.first(3).each do |report|
                article.tile.is-child
                  .panda
                    = image_tag report.report_image.url
            .tile.is-parent.is-vertical
              - @reports.shuffle.first(2).each do |report|
                article.tile.is-child
                  .panda
                    = image_tag report.report_image.url
| 
