body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  word-wrap: break-word;
  font-family: "Noto sans Japanese", "Hiragino sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 400;
  scroll-behavior: auto;
  -webkit-font-smoothing: antialiased;
  color: #242424;
  background: #fbfbfb;

}

h1 {
  margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}

.bg-yellow {
  background: #FFF7DF;
}

.side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
}

.tile {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.panda {
  height: 100%;
  width: 100%;
}

.menu {
  position: sticky;
  top: 0;
  padding: 30px 15px;


  img {
    display: block;
    width: 100px;
    margin: 0 auto 20px;
  }
}

.card {
  height: 100%;
}

.main {
  padding-top: 3rem;
}

.select {
  width: 100%;

  select:not([multiple]) {
    width: 100%;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFF7DF;
  height: 100%;
}

.column-inner {
  height: 100%;
}

.greeting {
  text-align: center;
  margin-bottom: 20px;
}
