.column
  .main
    .container
      h1.is-size-3.has-text-primary.has-text-weight-bold
        | ランチの記録
      .columns.is-mobile
        .column
          button.button.is-success.is-outlined.is-fullwidth
            | 自分が参加したランチのみを表示
      .columns.is-multiline
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
        .column.is-4
          a[href="/reports/show"]

          .card
            .card-image
              .image.is-4by3
                = image_tag 'panda.jpg'
            .card-content
              .content
                div
                  | 2019/12/25
                div
                  | ゆるり屋
                .tags
                  span.tag
                    | 山田一郎
                  span.tag
                    | 山田二郎
                  span.tag
                    | 山田三郎
    |  
