.column
  .main
    .container
      h1.is-size-3.has-text-primary.has-text-weight-bold
        | ランチを記録
      .columns.is-centered
        .column.is-8
          .field
            .control
              input.input[type="text" placeholder="グループ名"]
          .field
            .control
              input.input[type="text" placeholder="おみせ"]
          .field
            .control
              input.input[type="text" placeholder="メンバー"]
          .field
            .control
              input.input[type="date"]
          .field
            .control
              input.input[type="file" accept="image/*"]
        |  
      button.btn
        | 投稿する
