<div class="column">
  <div class="main">
    <div class="container">
      <h1 class="is-size-3 has-text-primary has-text-weight-bold">ランチを記録</h1>
      <div class="columns is-centered">
        <div class="column is-8">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="グループ名">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="おみせ">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="メンバー">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" type="date">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input" type="file" accept="image/*">
            </div>
          </div>
        </div>
      </div>
      <button class="btn">投稿する</button>
    </div>
  </div>
</div>
