<div class="column">
  <div class="main">
    <div class="container">
      <h1 class="is-size-3 has-text-primary has-text-weight-bold">ランチの記録</h1>
      <div class="columns">
        <div class="column is-6">
          <%= image_tag 'panda.jpg' %>
        </div>
        <div class="column">
          <div>ゆるり屋</div>
          <div>2019/12/25</div>
          <div class="tags">
            <span class="tag">山田一郎</span>
            <span class="tag">山田二郎</span>
            <span class="tag">山田三郎</span>
          </div>
          <div>おいしかったです！</div>
        </div>
      </div>
      <button class="button is-link is-outlined is-fullwidth">一覧へ戻る</button>
    </div>
  </div>
</div>
