.column
  .main
    .container
      h1.is-size-3.has-text-primary.has-text-weight-bold
        | ランチの記録
      .columns
        .column.is-6
          = image_tag 'panda.jpg'
        .column
          div
            | ゆるり屋
          div
            | 2019/12/25
          .tags
            span.tag
              | 山田一郎
            span.tag
              | 山田二郎
            span.tag
              | 山田三郎
          div
            | おいしかったです！
      button.button.is-link.is-outlined.is-fullwidth
        | 一覧へ戻る
    |  
